[Unit]
Description=OpenShift
Documentation=https://github.com/openshift/origin
After=docker.service
Requires=docker.service
After=network.target
Requires=network.target
After=etcd.service
Before=origin-node.service

[Service]
Type=notify
Environment=GOTRACEBACK=crash
EnvironmentFile={{home_path}}/openshift/origin
ExecStart={{openshift_bin_path}}/openshift start $OPTIONS
LimitNOFILE=131072
LimitCORE=infinity
WorkingDirectory={{home_path}}/
Restart=always

[Install]
WantedBy=multi-user.target
